asgiref==3.2.7
boto==2.49.0
certifi==2020.4.5.1
chardet==3.0.4
Django==3.1.12
idna==2.9
Pillow==8.3.2
python-http-client==3.2.7
pytz==2019.3
requests==2.23.0
sendgrid==6.2.2
sorl-thumbnail==12.6.3
sqlparse==0.3.1
urllib3==1.26.5
django-extensions==2.2.9
pydot==1.4.1
pydotplus==2.0.2